<div class="container">
	<div class="content">
		<div class="page-header">
			<h1>Haber Ekle</h1>
		</div>
		<div>
			<form class="form-horizontal" ng-submit="saveArticleFromUrl()">
			  <div class="control-group">
			    <label class="control-label">URL</label>
			    <div class="controls">
			    	<input type="text" class="input-block-level" ng-model="article.url" required>
			    </div>
			  </div>
			  <div class="control-group">
			  	<div class="controls">
			    	<button class="btn btn-primary" ng-class="{'disabled': submitting}" id="submit-button">Kaydet</button>
				</div>
			  </div>
			</form>
			<hr/>
			<form class="form-horizontal" ng-submit="saveArticle()">
			  <div class="control-group">
			    <label class="control-label">Başlık</label>
			    <div class="controls">
			      <input type="text" id="title" ng-model="article.title" class="input-xxlarge" required>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label">Foto</label>
			    <div class="controls">
			      <input type="text" id="img_url" ng-model="article.imgUrl" class="input-xxlarge">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label">Anasayfa fotosu</label>
			    <div class="controls">
			      <input type="text" id="img2_url" ng-model="article.img2Url" class="input-xxlarge">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label">Kaynak</label>
			    <div class="controls">
			      <input type="text" id="source" ng-model="article.source" required>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label">Yer</label>
			    <div class="controls">
			      <input type="text" id="location" ng-model="article.location">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label">Haber</label>
			    <div class="controls">
			      <textarea id="body" rows="10" class="input-block-level" ng-model="article.body" required></textarea>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label">Onay</label>
			    <div class="controls">
			      <input type="checkbox" id="verified" ng-model="article.verified">
			    </div>
			  </div>
			  <div class="control-group">
			  	<div class="controls">
			    	<button class="btn btn-primary" ng-class="{'disabled': submitting}" id="submit-button">Kaydet</button>
			    	<button class="btn" id="delete-button" ng-class="{disabled: submitting}" ng-click="deleteArticle()">Sil</button>
			    </div>
			  </div>
			</form>
		</div>
		<div class="alert text-center" ng-class="{'alert-success': success, 'alert-error': !success}" 
			 ng-show="saveArticleMessage != null">{{saveArticleMessage}}</div>	
		
	</div>	
</div>