<!-- Modal -->
<div id="writeNewModal" class="modal hide fade" tabindex="-1" 
	 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel"></h3>
  </div>
  <form id="submit-argument-form">
	  <div class="modal-body">
		  <fieldset>
		  	<div class="row-fluid">
		  		<div class="span8 text-left">
		  			<strong>Özet</strong> 
		  			<small><em>(Maksimum 140 karakter)</em></small>
		  		</div>
		  		<div class="span4 text-right">
		 			<span id="remaining-chars-span-for-summary"></span>
		  		</div>
		  	</div>	
		    <textarea id="arg-summary" rows="3" class="input-block-level" required></textarea>
		    
		    <div class="row-fluid">
		  		<div class="span8 text-left">
		  			<strong>Detaylı Argüman</strong> 
		  			<small><em>(Maksimum 500 karakter)</em></small>
		  		</div>
		  		<div class="span4 text-right">
		  			<span id="remaining-chars-span-for-body"></span>
		  		</div>
		  	</div>
		    <textarea id="arg-body" rows="10" class="input-block-level"></textarea>
		  </fieldset>
	  </div>
	  <div id="alert-container" class="alert text-center" style="display: none"></div>
	  <div class="modal-footer">
	  	<div class="row-fluid">
	  		<div class="span6 text-right">
	  			<i id="submit-argument-spinner" class="icon-spinner icon-spin icon-2x" style="display: none"></i>
	  		</div>
	  		<div class="span6 text-right">
	    		<button class="btn" data-dismiss="modal" aria-hidden="true">Kapat</button>
	    		<input id="submit-argument-btn" type="submit" class="btn btn-primary" value="Gönder">
	    	</div>
	    </div>
	  </div>
	  <input type="hidden" id="affirmative-input" value="{{affirmative}}">
  </form>
</div>