<div class="container">
	<div class="content">
		<div class="page-header">
			<h1>Haber Listesi</h1>
		</div>
		<div class="text-center" ng-show="loading"><i class="icon-spinner icon-spin icon-4x"></i></div>
		<div ng-show="!loading">
			<p class="text-right"><a href="{{$location.absUrl()}}/new">Yeni haber gir</a></p>
			<table class="table table-striped">
				<tr>
					<th></th><th>Başlık</th><th>Kaynak</th><th>Zaman</th>
				</tr>
				
				<tr ng-repeat="a in articles">
					<td>{{a.id}}</td>
					<td><a href="{{$location.absUrl()}}/{{a.id}}">{{a.title}}</a></td>
					<td>{{a.source}}</td>
					<td>{{a.pubDate | formatDate}}</td>
				</tr>
			</table>
			<div class="text-center" ng-show="total_pages > page" ng-click="loadNextPage()"><a href="">Diğer Haberler</a></div>
		</div>
	</div>	
</div>