<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/bora_cars_db</property>
    <property name="hibernate.connection.username">ecolak</property>
    <property name="hibernate.connection.password">5451217</property>

    <mapping package="dao"/>
    <mapping class="dao.CarMake"/>
    <mapping class="dao.MakeModel"/>
    <mapping class="dao.CLCar"/>
    <mapping class="dao.Task"/>
    <mapping class="dao.User"/>
    <mapping class="dao.TaskStat"/>
  </session-factory>
</hibernate-configuration>
