<div class="container">
	<div class="content">
		<div class="page-header">
			<h1>
				<div ng-bind-html="article.title"></div>
			</h1>
		</div>
		<div class="row-fluid">
			
				<div class="span8 right-solid-border">
					<img ng-src="{{article.imgUrl ? article.imgUrl : 'img/resimsiz.gif'}}" 
						 class="img-polaroid" style="width: 500px; height: auto;">
					<div style="margin-top: 5px;">
						<strong>Kaynak: </strong>{{article.source}}, 
						<strong>Yer: </strong>{{article.location}},
						<strong>Zaman: </strong>{{article.dateCreated | formatDate}}
					</div>
				</div>
				<div class="span4">
					<div ng-switch on="isTotalVotesGreaterThanMinimum()">
						<div ng-switch-when="true">
							<label><strong>Doğru diyenler:</strong> </label>		
							<div class="progress progress-success">
							  <div class="bar" style="width: {{article | toPct:true}}%">{{article | toPct:true}}%</div>
							</div>
							<label><strong>Yalan diyenler:</strong> </label>
							<div class="progress progress-danger">
							  <div class="bar" style="width: {{article | toPct:false}}%">{{article | toPct:false}}%</div>
							</div>
							<strong>Toplam oy:</strong> {{article.favorableCnt + article.againstCnt}}
							<hr/>
						</div>
						<div ng-switch-when="false"></div>	
					</div>
	
					<label><strong>Sizin Görüşünüz</strong></label>
					<div class="btn-group" data-toggle="buttons-radio">
					  <button type="button" class="btn" id="vote_for"
					  	ng-click="giveVote(true)"
					  	ng-class="{active: voteChecked && vote != null && vote.favorable == true}">Doğru</button>
					  <button type="button" class="btn" id="vote_undecided"
					  	ng-click="undecide()"
					  	ng-class="{active: voteChecked && (vote == null || vote.favorable == null)}">Kararsızım</button>
					  <button type="button" class="btn" id="vote_against"
					  	ng-click="giveVote(false)"
					  	ng-class="{active: voteChecked && vote != null && vote.favorable == false}">Yalan</button>
					</div>
					<p/>
					<div class="text-center"><i class="icon-spinner icon-spin icon-2x" ng-show="submittingVote"></i></div>
					<div class="alert" ng-show="voteMessage != null && !submittingVote">{{voteMessage}}</div>
				</div>
		</div>
		<br />
		<div class="row-fluid">
			<div ng-bind-html="article.body"></div>
		</div>
		
		<div ng-include src="'partials/social_plugins.html'"></div>
		
		<div class="row-fluid">
			<div class="span6 text-center">
				<arguments-pane title="'Neden doğru?'" type="true" arguments="article.arguments_for"></arguments-pane>
			</div>
			
			<div class="span6 text-center">
				<arguments-pane title="'Neden yalan?'" type="false" arguments="article.arguments_against"></arguments-pane>
			</div>
		</div>
	</div>
</div>
<div ng-include src="'partials/write_new_modal.html'"></div>
