<div class="container">
	<div class="content">
		<div class="page-header">
			<h1>Haber Tavsiye Et</h1>
		</div>
		<div>
			<form class="form-horizontal" ng-submit="saveArticle()">
			  <div class="control-group">
			    <label class="control-label">Başlık</label>
			    <div class="controls">
			      <input type="text" id="title" ng-model="article.title" class="input-xxlarge" required>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label">Foto</label>
			    <div class="controls">
			      <input type="text" id="img_url" ng-model="article.imgUrl" class="input-xxlarge">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label">Kaynak</label>
			    <div class="controls">
			      <input type="text" id="source" ng-model="article.source" required>
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label">Yer</label>
			    <div class="controls">
			      <input type="text" id="location" ng-model="article.location">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label">Haber</label>
			    <div class="controls">
			      <textarea id="body" rows="10" class="input-block-level" ng-model="article.body" required></textarea>
			    </div>
			  </div>
			  <div class="control-group">
			  	<div class="controls">
			    	<button class="btn btn-primary" ng-class="{'disabled': submitting}" id="submit-button">Gönder</button>
			    </div>
			  </div>
			</form>
		</div>
		<div class="alert text-center" ng-class="{'alert-success': success, 'alert-error': !success}" 
			 ng-show="suggestArticleMessage != null">{{suggestArticleMessage}}
			<span ng-show="success"><a href="/">Anasayfa'ya geri dön</a></span>
		</div>	
		
	</div>	
</div>