<h2>{{title}}</h2>
<div class="row-fluid">
	<div class="text-left">
		<div ng-repeat="t in arguments">
			<div class="arg-summary-box" ng-click="toggleExpand(type, $index)">
				<span ng-bind-html="t.summary | addIndex:$index+1" class="span9"></span> 
				<span class="span3">
					<div class="row-fluid">
						<div class="span6">
							<div class="row text-right">
								<span class="badge badge-success">{{t.likes | to_s}}</span> 
							</div>
							<div class="row text-right">
								<a href="" ng-click="updateArgLikes(type, t.id, true); $event.stopPropagation();">
									<i class="icon-thumbs-up-alt"></i>
								</a>	
							</div>						
						</div>
						<div class="span6">
							<div class="row text-right">
								<span class="badge badge-important">{{t.dislikes | to_s}}</span> 
							</div>
							<div class="row text-right" style="margin-left: 0px;">
								<a href="" ng-click="updateArgLikes(type, t.id, false); $event.stopPropagation();">
									<i class="icon-thumbs-down-alt"></i>
								</a>
							</div>
						</div>
					</div>
				</span>
			</div>
			<div class="arg-desc-box" id="{{type}}_{{$index}}">
				<span ng-bind-html="t.body"></span>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid" style="margin-top: 10px; margin-bottom: 10px;"  ng-show="showNextPageButton(type)">
	<a class="btn btn-info btn-mini" ng-click="loadMoreArguments(type)">Diğerleri</a>
</div>
<div class="row-fluid">
	<div class="arg-summary-box" style="height: 40px;">
		<a href="" class="btn" ng-click="openWriteNewModal(type)"><i class="icon-edit icon-large"></i></a>
	</div>
</div>

