<div class="well well-small" style="margin-top: 5px;">
	<div class="span1" style="margin-left: 0px; margin-right: 5px; margin-top: -2px; width: 65px">
		<a fb-share title="{{article.title}}" image="{{article.imgUrl}}"></a>
	</div>
	
	<div class="span1" style="margin-left: 0px; margin-right: 15px;">
		<fb-like></fb-like>
	</div>
	
	<div class="span1" style="margin-right: 10px;">
		<a twitter-share data-text="{{article.title}}" data-url="{{$location.absUrl()}}"></a>
	</div>

	<div class="span1" style="margin-right: 5px;">
		<!-- Place this tag where you want the share button to render. -->
		<div class="g-plus" data-action="share" data-annotation="bubble"></div>
	</div>

</div>

<script type="text/javascript">
	window.___gcfg = {
		lang : 'tr'
	};

	(function() {
		var po = document.createElement('script');
		po.type = 'text/javascript';
		po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(po, s);
	})();
</script>