<div class="container">
	<div class="content">
		<div class="well" style="width: 500px; margin-left: auto; margin-right: auto">
			<form class="form-horizontal" method="POST">
			  <div class="control-group">
			    <label class="control-label" for="email">Email</label>
			    <div class="controls">
			      <input type="email" id="email" name="email" required>
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			      <button type="submit" class="btn btn-primary">Gönder</button>
			    </div>
			  </div>
			</form>
		</div>
		<div class="alert text-center">{{forgotPwdMessage}}</div>	
		
	</div>	
</div>