<!-- Modal -->
<div id="writeNewModal" class="modal hide fade" tabindex="-1" 
	 role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Sizce neden {{argTypeLabel}}?</h3>
  </div>
  <form ng-submit="submitArgument()">
	  <div class="modal-body">
		  <fieldset>
		  	<div class="row-fluid">
		  		<div class="span8 text-left">
		  			<strong>Özet</strong> 
		  			<small><em>(Maksimum 140 karakter)</em></small>
		  		</div>
		  		<div class="span4 text-right">
		  			<span id="remaining-chars-span-for-summary" 
		  				  class="label">{{argument.summary | remainingChars:140:'remaining-chars-span-for-summary'}}</span>
		  		</div>
		  	</div>	
		    <textarea rows="3" class="input-block-level" ng-model="argument.summary" required></textarea>
		    
		    <div class="row-fluid">
		  		<div class="span8 text-left">
		  			<strong>Detaylı Argüman</strong> 
		  			<small><em>(Maksimum 500 karakter)</em></small>
		  		</div>
		  		<div class="span4 text-right">
		  			<span id="remaining-chars-span-for-body" 
		  				  class="label">{{argument.body | remainingChars:500:'remaining-chars-span-for-body'}}</span>
		  		</div>
		  	</div>
		    <textarea rows="10" class="input-block-level" ng-model="argument.body" required></textarea>
		  </fieldset>
	  </div>
	  <div class="alert text-center" ng-class="{'alert-success': success, 'alert-error': !success}" 
	  		ng-show="submitArgumentMessage != null">{{submitArgumentMessage}}</div>
	  <div class="modal-footer">
	  	<div class="row-fluid">
	  		<div class="span6 text-right">
	  			<i class="icon-spinner icon-spin icon-2x" ng-show="submitting"></i>
	  		</div>
	  		<div class="span6 text-right">
	    		<button class="btn" data-dismiss="modal" aria-hidden="true">Kapat</button>
	    		<input type="submit" class="btn btn-primary" ng-class="{'disabled': submitting}" value="Gönder">
	    	</div>
	    </div>
	  </div>
  </form>
</div>